$breakpointPhone: 767px;

@media only screen and (max-width: $breakpointPhone) {
    
    body{

        header{
            justify-content: space-between;
            background-color: white;
            box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);

            figure{
                width: 18%;
                margin-left: 40vw;
                margin-top: 5px;

            }

           .mySidepanel{
                height: 100vh;
                width: 0;
                position: fixed;
                z-index: 1;
                top: 0;
                right: 0;
                background-color: #111;
                overflow-x: hidden;
                padding-top: 60px;
                transition: 0.5s;
                flex-direction: column;
                justify-content: flex-start;

                nav{
                    ul{
                        flex-direction: column;
                        align-items: flex-start;

                        li{
                            a{
                                margin: 5px;
                            }
                        }
                    }
                }

                a{
                    padding: 8px 8px 8px 32px;
                    text-decoration: none;
                    font-size: 25px;
                    color: #818181;
                    display: block;
                    transition: 0.3s;
                }

                .closebtn{
                    position: absolute;
                    top: 0;
                    right: 10px;
                    font-size: 36px;
                    margin-left: 50px;
                    color: red;
                }

                .avatar{
                    width: 32%;

                    .dropdown-content{
                        right: 0px;
                    }

                    &:hover .dropdown-content{
                        width: 100%;

                    }
                }

            }

            .openbtn{
                display: block;
                font-size: 20px;
                cursor: pointer;
                background: none;
                padding: 10px 15px;
                border: none;
            }
        
            
        }

        .title{
            padding: 65px 18px 41px 14px;
        }

        .subscriptions{
            display: none;
        }


        section.home{

            position: initial;
            width: 100%;
            box-shadow: 0px 2px 10px 5px rgba(0, 0, 0, 0);
            border-radius: 0;
            padding: 0;

            .hero{
                display: none;
            }

            .song{

                .songCards{
                    overflow-x: auto;
                    white-space: nowrap;
                    margin: 0 0 66px 0;

                    &::-webkit-scrollbar{
                        height: 4px;
                    }

                    .side{
                        margin-right: 41vw;
                    }

                    .songCard{
                        width: 82vw;
                        margin: 0 15px 8px;
                        position: relative;

                        a{

                            figure{

                                min-width: 30%;
                                margin-right: 10px;
                            }
                        }
                    }

                }
            }

            .hero{
                height: auto;

                figcaption{
                    top: 19vh;
                    left: 7%;
                }
            }
        }

        

        section.home, section.artistDetail, section.newRelease {
            .playlist, .album, .artist{

                .playlistCards{
                    margin: 0;
                }

                .playlistCards, .cards{
                    display: block;
                    overflow-x: auto;
                    white-space: nowrap;

                    &::-webkit-scrollbar{
                        height: 4px;
                    }

                    .playlistCard, .mcard{
                        width: 46%;
                        margin: 0 15px;
                        display: inline-block;
                        position: relative;

                        &:hover{
                            width: 46%;
                        }
                    }
                }
            }
        }

        .mcard {
            width: 30%;
            margin: 9px auto;
        }

        section.playlistList {

            .title{

                .nav {
                    width: 42%;
                }
            } 

        }

        section.playlistList{
            
            .myPlaylist{
                
                .mainCard {
                    width: auto;
                    height: 222px;
                    
                    a{
                        figure{
                            figcaption {
                            
                                top: 18vh;
                                left: 5%;
                            } 
                        } 
                    }
                }
    
                .mcard{
                    width: 26%;
                    margin: 0 auto 40px;
                }
            } 
        }

        section.listArtist {
            .artistCard {
                
                figure {
                    width: 22%;
                }
            }
        }

        section.playlistDetail {

            min-height: 67vh;

            .playlistHeader {
                margin: 60px 0;

                figure {
                    width: 50%;
                }

                a#myBtn{
                    margin-left: 5px;
                }

                i.fa-regular.fa-circle-play, a{
                    font-size: x-large;

                }
            }
        }

        section.playlistDetail ,section.artistDetail , section.musicPlayer{
            table tbody tr td figure{
                width: 56%;
            }
        }

        section.artistDetail .hero figure {
            height: auto;

            img {
                top: auto;
            }

            figcaption{
                top: 13vh;
            }
        }

        .modal .modal-content{
            width: 100%!important;
        }

        section.musicPlayer {

            flex-direction: column;
            margin: 74px auto 5px auto;

            .player {
                
                position: initial;
                width: 97%;
                margin: 25px auto;
            }
            .leftSide {
                width: 100%;
            } 

            .comments article p {
                margin-left: 37px;
            }

        }

        section.login{
            flex-direction: column;
            width: 98%;

            figure {
                width: 0;
            }

            .loginForm {
                width: 100%;
            }
        }

        section.search{
            .searchGrid{
                flex-direction: column!important;

                table{
                    width: 100%!important;
                
                }
            }
        }

        section.genreSongs .songCard a{
            width: 24%;
        }

        section.register{
            width: 100%;
            height: auto;

            .registerForm{
                width: 100%;
            }
        }

        footer {
            display: flex;
            flex-direction: column;

            small{
                margin: 15px auto;
            }
        }
    }
}
