$breakpointDesktop: 1024px;
$breakpointTablet: 768px;

@media only screen and (min-width: $breakpointTablet) and (max-width: $breakpointDesktop) {
    
    body{

        main{
            min-height: 76vh;
        }
        
        header{
            height: 7vh;

            .mySidepanel{

                nav{
                    ul{
                        li{
                            a{
                                margin: 15px;
                            }
                        }
                    }
                }
            }

            .avatar:hover{
                .dropdown-content{
                    width: 30%;
                    font-size: x-large;
                }

            } 
        }

        .subscriptions{
            display: none;
        }

        section.home{

            .song{

                .songCards{
                    overflow-x: auto;
                    white-space: nowrap;
                    margin: 0 0 66px 0;

                    .side{
                        margin-right: 60px;
                    }

                    .songCard{
                        width: 55vw;
                        margin: 0 15px 8px;
                        position: relative;

                        a{

                            figure{

                                width: 30%;
                                margin-right: 10px;
                            }
                        }
                    }

                }
            }

        }

        section.home, section.artistDetail, section.newRelease {
            .playlist, .album, .artist{

                .playlistCards{
                    margin: 0px 66px 41px 66px;
                }

                .playlistCards, .cards{
                    display: block;
                    overflow-x: auto;
                    white-space: nowrap;

                    &::-webkit-scrollbar{
                        display: none;
                    }

                    .playlistCard, .mcard{
                        width: 190px;
                        margin: 0 15px;
                        display: inline-block;
                        position: relative;
                    }
                }
            }
        }
        
            

        .mcard{
            width: 30%;
        }

        section.search{
            
            table tbody tr td figure{
                
                width: 55%!important;
            } 
        }

        section.playlistList{

            .title{
                .nav{
                    width: 26%;
                }

            }
             
            
            .myPlaylist {
                
                .mainCard{
                    width: 100%;
                    a{
                        figure{
                            figcaption{
                                top: 32vh;
                                left: 5%;
                            }

                        } 

                    } 
                }

                
                .mcard{
                    width: 24%;
                }

                
            }
        } 

        section.musicPlayer {

            width: 95%;

            .player .controls a {
                width: auto;
            }

            table{
                width: 100%;

                tbody{
                    tr{
                        td{
                            width: 17%;

                            figure{
                                width:65%;
                            }
                        }
                    } 
                } 
            }
        }

        section.listArtist .artistCard {

            min-height: 14vh;    
            figure {
                width: 15%;
            }  
        }
        
        section.artistDetail .hero figure{
            height: 28vh;

            img{
                top:-6vh;
            }

            figcaption{
                top:18vh;
            }
        }
  

        section.login{
            width: 66%;

            .loginForm {
                width: 50%;
                padding: 45px;
            }
        }

        section.genreSongs .songCard a{
            width: 16%;
        }

        .modal .modal-content{
            width: 95%!important;
        }
    }

}