body.dark{
    background-color: #36454F;

    h1 {
        color: #7DF9FF;
    }

    h3 {
        color: white;

        &:hover{
            color: #7DF9FF;
        }
    }

    h4{
        color: #7DF9FF;
    }

    .title a {
        background-color: #7DF9FF;
        color: #36454F;
    }

    .dropdown button {
        background-color: white;
        color: #36454F;
    }

    i.fa-solid.fa-plus {
        color: white !important;
    }

    label.form-label {
        color: white;
    }

    section.playlistList {
        
        .title .nav .artistLink{
            color: #7DF9FF;

        }

        .myPlaylist .mainCard {
           
            a, h3{
                color: #36454F;

            }
        }


    }

    section.listArtist .artistCard a {
        color: white;
    }

    section.playlistDetail, section.artistDetail, section.musicPlayer, section.search{
        
        .playlistHeader {
            
            h3{
                color: #7DF9FF;

            }

            .playerBtns a{
                color: white;

            }

            
        }

        .uncheck, .check{
            margin-left: 8px;
            font-size: larger;
        }

        th, tr, i, td a{
            color: white;
        }

        .controls {

            button {
                color: white;
    
                &:hover{
                    color: #7DF9FF;
    
                }
    
            }

        }
        

        .player {

            .controls {

                a, span.fa-solid.fa-pause{
                    color: white;
        
                    &:hover{
                        color: #7DF9FF;

                    }
        
                }
                .hover .audio #volume-slider{

                    background: white;

                    &::-webkit-slider-thumb{
                        box-shadow: -400px 0 0 400px #7DF9FF;
                    }
                }
            }
            

            .timeline{

                .slider{
                    background: white;

                    &::-webkit-slider-thumb{
                        box-shadow: -400px 0 0 400px #7DF9FF;
                    }
                }
            }
        }

        .comments article {
            background-color: white;

            figure figcaption a {
                color: #36454F;
            }
        }


    }

    section.playlistDetail{
        .dropdown button {
            background-color: transparent;
            color: white !important;
        }
    }

    section.genreSongs {
        h2{
            color:#7DF9FF;
        }
    }

    section.login{

        label, a {
            color: white !important;
        }
    }



    footer {
        ul li a, small{

            color: white;
        }
    }
}