body.dark {
  background-color: #36454F;
}
body.dark h1 {
  color: #7DF9FF;
}
body.dark h3 {
  color: white;
}
body.dark h3:hover {
  color: #7DF9FF;
}
body.dark h4 {
  color: #7DF9FF;
}
body.dark .title a {
  background-color: #7DF9FF;
  color: #36454F;
}
body.dark .dropdown button {
  background-color: white;
  color: #36454F;
}
body.dark i.fa-solid.fa-plus {
  color: white !important;
}
body.dark label.form-label {
  color: white;
}
body.dark section.playlistList .title .nav .artistLink {
  color: #7DF9FF;
}
body.dark section.playlistList .myPlaylist .mainCard a, body.dark section.playlistList .myPlaylist .mainCard h3 {
  color: #36454F;
}
body.dark section.listArtist .artistCard a {
  color: white;
}
body.dark section.playlistDetail .playlistHeader h3, body.dark section.artistDetail .playlistHeader h3, body.dark section.musicPlayer .playlistHeader h3, body.dark section.search .playlistHeader h3 {
  color: #7DF9FF;
}
body.dark section.playlistDetail .playlistHeader .playerBtns a, body.dark section.artistDetail .playlistHeader .playerBtns a, body.dark section.musicPlayer .playlistHeader .playerBtns a, body.dark section.search .playlistHeader .playerBtns a {
  color: white;
}
body.dark section.playlistDetail .uncheck, body.dark section.playlistDetail .check, body.dark section.artistDetail .uncheck, body.dark section.artistDetail .check, body.dark section.musicPlayer .uncheck, body.dark section.musicPlayer .check, body.dark section.search .uncheck, body.dark section.search .check {
  margin-left: 8px;
  font-size: larger;
}
body.dark section.playlistDetail th, body.dark section.playlistDetail tr, body.dark section.playlistDetail i, body.dark section.playlistDetail td a, body.dark section.artistDetail th, body.dark section.artistDetail tr, body.dark section.artistDetail i, body.dark section.artistDetail td a, body.dark section.musicPlayer th, body.dark section.musicPlayer tr, body.dark section.musicPlayer i, body.dark section.musicPlayer td a, body.dark section.search th, body.dark section.search tr, body.dark section.search i, body.dark section.search td a {
  color: white;
}
body.dark section.playlistDetail .controls button, body.dark section.artistDetail .controls button, body.dark section.musicPlayer .controls button, body.dark section.search .controls button {
  color: white;
}
body.dark section.playlistDetail .controls button:hover, body.dark section.artistDetail .controls button:hover, body.dark section.musicPlayer .controls button:hover, body.dark section.search .controls button:hover {
  color: #7DF9FF;
}
body.dark section.playlistDetail .player .controls a, body.dark section.playlistDetail .player .controls span.fa-solid.fa-pause, body.dark section.artistDetail .player .controls a, body.dark section.artistDetail .player .controls span.fa-solid.fa-pause, body.dark section.musicPlayer .player .controls a, body.dark section.musicPlayer .player .controls span.fa-solid.fa-pause, body.dark section.search .player .controls a, body.dark section.search .player .controls span.fa-solid.fa-pause {
  color: white;
}
body.dark section.playlistDetail .player .controls a:hover, body.dark section.playlistDetail .player .controls span.fa-solid.fa-pause:hover, body.dark section.artistDetail .player .controls a:hover, body.dark section.artistDetail .player .controls span.fa-solid.fa-pause:hover, body.dark section.musicPlayer .player .controls a:hover, body.dark section.musicPlayer .player .controls span.fa-solid.fa-pause:hover, body.dark section.search .player .controls a:hover, body.dark section.search .player .controls span.fa-solid.fa-pause:hover {
  color: #7DF9FF;
}
body.dark section.playlistDetail .player .controls .hover .audio #volume-slider, body.dark section.artistDetail .player .controls .hover .audio #volume-slider, body.dark section.musicPlayer .player .controls .hover .audio #volume-slider, body.dark section.search .player .controls .hover .audio #volume-slider {
  background: white;
}
body.dark section.playlistDetail .player .controls .hover .audio #volume-slider::-webkit-slider-thumb, body.dark section.artistDetail .player .controls .hover .audio #volume-slider::-webkit-slider-thumb, body.dark section.musicPlayer .player .controls .hover .audio #volume-slider::-webkit-slider-thumb, body.dark section.search .player .controls .hover .audio #volume-slider::-webkit-slider-thumb {
  box-shadow: -400px 0 0 400px #7DF9FF;
}
body.dark section.playlistDetail .player .timeline .slider, body.dark section.artistDetail .player .timeline .slider, body.dark section.musicPlayer .player .timeline .slider, body.dark section.search .player .timeline .slider {
  background: white;
}
body.dark section.playlistDetail .player .timeline .slider::-webkit-slider-thumb, body.dark section.artistDetail .player .timeline .slider::-webkit-slider-thumb, body.dark section.musicPlayer .player .timeline .slider::-webkit-slider-thumb, body.dark section.search .player .timeline .slider::-webkit-slider-thumb {
  box-shadow: -400px 0 0 400px #7DF9FF;
}
body.dark section.playlistDetail .comments article, body.dark section.artistDetail .comments article, body.dark section.musicPlayer .comments article, body.dark section.search .comments article {
  background-color: white;
}
body.dark section.playlistDetail .comments article figure figcaption a, body.dark section.artistDetail .comments article figure figcaption a, body.dark section.musicPlayer .comments article figure figcaption a, body.dark section.search .comments article figure figcaption a {
  color: #36454F;
}
body.dark section.playlistDetail .dropdown button {
  background-color: transparent;
  color: white !important;
}
body.dark section.genreSongs h2 {
  color: #7DF9FF;
}
body.dark section.login label, body.dark section.login a {
  color: white !important;
}
body.dark footer ul li a, body.dark footer small {
  color: white;
}/*# sourceMappingURL=darkMode.css.map */