{% extends 'base.html.twig' %}

{% block title %}Your favorites{% endblock %}

{% block body %}

    <section class="more">

        <div class="listItems">

            {% for playlist in favoritePlaylists %}

                <div class="card">

                    <a href="{{path('playlist_detail', {'id': playlist.id})}}">

                        <figure>
                            <img src="{{asset('uploads/img/' ~ playlist.image)}}" alt="playlist image">
                        </figure>

                        <h3>{{playlist.playlistName}}</h3>

                    </a>
                </div>

            {% endfor %}
            
        </div>
    </section>
{% endblock %}
