{% extends 'base.html.twig' %}

{% block title %}Your favorites{% endblock %}

{% block body %}

    <section class="more">

        <div class="listItems">

            {% for playlist in pagination %}

                <div class="mcard">

                    <a href="{{path('playlist_detail', {'id': playlist.uuid})}}">

                        <figure>
                            <img src="{{asset('uploads/' ~ playlist.image)}}" alt="playlist image">
                        </figure>

                        <h3>{{playlist.playlistName}}</h3>

                    </a>
                </div>

            {% endfor %}
            
        </div>

        <div class="d-flex justify-content-center">
            
            {{ knp_pagination_render(pagination) }}
        </div>

        
    </section>
{% endblock %}
