{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

{% if app.user %}
    <a href="{{path('app_logout')}}">logOut</a>

{% else %}
    <a href="{{path('app_register')}}">signUp</a>
    <a href="{{path('app_login')}}">logIn</a>

{% endif %}
{% endblock %}
{#  #}