{% extends 'base.html.twig' %}

{% block title %}Recommended{% endblock %}

{% block body %}

    <section class="more">

        <div class="listItems">

            {% for playlist in playlists %}

                <div class="mcard">

                    <a href="{{path('playlist_detail', {'id': playlist.uuid})}}">

                        <figure>
                            
                            {% if playlist.image == null %}
                                <img src="{{asset('img/dee-XhvEvfXQoSY-unsplash.jpg')}}" alt="playlist image">
                            {% else %}
                                <img src="{{asset('uploads/' ~ playlist.image)}}" alt="playlist image">
                            {% endif %}
                        </figure>

                        <h3>{{playlist.playlistName}}</h3>

                    </a>
                </div>

            {% endfor %}
            
        </div>
    </section>
{% endblock %}
