* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
* h1, * h3 {
  font-family: "Montserrat", sans-serif;
}
* h3 {
  font-size: medium;
}
* h3:hover {
  color: #36454F;
}
* h1 {
  font-size: larger;
  color: #36454F;
}
* p {
  font-family: "Lato", sans-serif;
}
* body main {
  min-height: 67vh;
}
* body header {
  background-color: #36454F;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0px 2px 10px 5px rgba(3, 3, 3, 0.1);
}
* body header figure {
  width: 5%;
}
* body header figure img {
  width: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
* body header .closebtn, * body header .openbtn {
  display: none;
}
* body header .mySidepanel {
  display: flex;
  align-items: center;
  justify-content: center;
}
* body header .mySidepanel nav {
  width: 100%;
}
* body header .mySidepanel nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
* body header .mySidepanel nav ul li a {
  color: white;
  text-decoration: none;
  margin: 40px;
  font-family: "Playfair Display", serif;
}
* body header .mySidepanel nav ul li a:hover {
  color: #7DF9FF;
}
* body header .mySidepanel .avatar {
  width: 4.5%;
  float: right;
  overflow: hidden;
}
* body header .mySidepanel .avatar img {
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}
* body header .mySidepanel .avatar .dropdown-content {
  display: none;
  position: absolute;
  right: 23px;
  background-color: #f9f9f9;
  z-index: 1;
}
* body header .mySidepanel .avatar:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  width: 11%;
  border-radius: 10px;
  padding: 26px 19px;
  font-size: large;
}
* body header .mySidepanel .avatar:hover .dropdown-content .setting, * body header .mySidepanel .avatar:hover .dropdown-content .logout {
  margin-bottom: 10px;
}
* body header .mySidepanel .avatar:hover .dropdown-content a {
  color: black;
  text-decoration: none;
  margin-left: 7px;
}
* body header .mySidepanel .avatar:hover .dropdown-content button {
  border: none;
  border-radius: 15px;
  background-color: #36454F;
  padding: 10px;
  cursor: pointer;
  color: white;
}
* body header .mySidepanel .avatar:hover .dropdown-content h3 {
  margin-top: 15px;
}
* body header .mySidepanel .avatar:hover .dropdown-content .recentSub {
  margin: 10px 0;
}
* body header .mySidepanel .avatar:hover .dropdown-content .recentSub a {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
* body header .mySidepanel .avatar:hover .dropdown-content .recentSub a figure {
  width: 30%;
}
* body header .mySidepanel .avatar:hover .dropdown-content .recentSub a figure img {
  width: 100%;
}
* body header .mySidepanel .avatar:hover .dropdown-content .recentSub a small {
  font-size: medium;
  margin-left: 7px;
}
* body .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 65px 67px 41px 76px;
}
* body .title a {
  text-decoration: none;
  padding: 7px 22px;
  border-radius: 10px;
  color: white;
  background-color: #36454F;
}
* body .title a:hover {
  background-color: #183153;
}
* body .card {
  width: 14%;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}
* body .card a {
  text-decoration: none;
  color: black;
}
* body .card a:hover {
  color: #36454F;
}
* body .card a figure img {
  width: 100%;
  border-radius: 10px;
}
* body .card a h3, * body .card a p {
  margin: 12px 0 44px 9px;
}
* body section.home {
  display: flex;
  flex-direction: column;
}
* body section.home .playlistCards {
  display: flex;
  justify-content: space-evenly;
}
* body section.home .playlistCards .playlistCard {
  width: 18%;
}
* body section.home .playlistCards .playlistCard a {
  text-decoration: none;
  color: black;
}
* body section.home .playlistCards .playlistCard a figure {
  width: 85%;
}
* body section.home .playlistCards .playlistCard a figure img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 5px rgba(3, 3, 3, 0.1);
}
* body section.newRelease .album .cards, * body section.newRelease .artist .cards, * body .artistDetail .album .cards, * body .artistDetail .artist .cards {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
* body section.newRelease .genres .genresList, * body .artistDetail .genres .genresList {
  display: flex;
  flex-wrap: wrap;
  width: 94%;
  margin: auto;
}
* body section.newRelease .genres .genresList a, * body .artistDetail .genres .genresList a {
  text-decoration: none;
  background-color: #3164F4;
  color: white;
  padding: 11px 30px;
  border-radius: 10px;
  margin: 0px 19px 27px;
}
* body section.playlistList .title .nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 17%;
}
* body section.playlistList .title .nav .artistLink {
  color: black;
  background: none;
  padding: 0;
}
* body section.playlistList .myPlaylist {
  display: flex;
  width: 97%;
  flex-wrap: wrap;
  align-items: flex-end;
  margin: auto;
}
* body section.playlistList .myPlaylist .mainCard {
  width: 46%;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
  margin: 0 60px 40px 0;
}
* body section.playlistList .myPlaylist .mainCard a {
  color: #36454F;
}
* body section.playlistList .myPlaylist .mainCard a figure {
  height: 41vh;
}
* body section.playlistList .myPlaylist .mainCard a figure img {
  position: relative;
  width: 100%;
}
* body section.playlistList .myPlaylist .mainCard a figure figcaption {
  position: absolute;
  top: 67vh;
  left: 2%;
}
* body section.playlistList .myPlaylist .card {
  margin: 0 58px 40px 0;
  width: 12%;
}
* body section.listArtist .artistCard {
  display: flex;
  align-items: center;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
  min-height: 21vh;
  width: 98%;
  margin: auto;
  border-radius: 10px;
  margin-bottom: 28px;
}
* body section.listArtist .artistCard figure {
  width: 7%;
  margin: 13px;
}
* body section.listArtist .artistCard figure img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
}
* body section.listArtist .artistCard a {
  text-decoration: none;
  color: #030303;
  font-family: "Montserrat", sans-serif;
}
* body section.playlistDetail img, * body section.playlistDetail table, * body section.artistDetail img, * body section.artistDetail table, * body section.musicPlayer img, * body section.musicPlayer table {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}
* body section.playlistDetail .playlistHeader, * body section.artistDetail .playlistHeader, * body section.musicPlayer .playlistHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 60px;
}
* body section.playlistDetail .playlistHeader h3, * body section.artistDetail .playlistHeader h3, * body section.musicPlayer .playlistHeader h3 {
  color: #36454F;
  margin-bottom: 14px;
}
* body section.playlistDetail .playlistHeader figure, * body section.artistDetail .playlistHeader figure, * body section.musicPlayer .playlistHeader figure {
  width: 16%;
}
* body section.playlistDetail .playlistHeader figure img, * body section.artistDetail .playlistHeader figure img, * body section.musicPlayer .playlistHeader figure img {
  width: 100%;
}
* body section.playlistDetail .playlistHeader .playerBtns a, * body section.artistDetail .playlistHeader .playerBtns a, * body section.musicPlayer .playlistHeader .playerBtns a {
  text-decoration: none;
  color: black;
  font-size: larger;
}
* body section.playlistDetail .playlistHeader .playerBtns i.fa-regular, * body section.artistDetail .playlistHeader .playerBtns i.fa-regular, * body section.musicPlayer .playlistHeader .playerBtns i.fa-regular {
  margin-right: 11px;
}
* body section.playlistDetail table, * body section.artistDetail table, * body section.musicPlayer table {
  width: 98%;
  margin: auto;
  border-collapse: collapse;
  font-family: "Montserrat", sans-serif;
}
* body section.playlistDetail table tr, * body section.artistDetail table tr, * body section.musicPlayer table tr {
  border-bottom: 1pt solid #C1C1C1;
}
* body section.playlistDetail table thead, * body section.artistDetail table thead, * body section.musicPlayer table thead {
  text-align: left;
  height: 9vh;
}
* body section.playlistDetail table tbody tr td, * body section.artistDetail table tbody tr td, * body section.musicPlayer table tbody tr td {
  width: 19%;
}
* body section.playlistDetail table tbody tr td figure, * body section.artistDetail table tbody tr td figure, * body section.musicPlayer table tbody tr td figure {
  width: 30%;
  margin: 5px 0 0 29px;
}
* body section.playlistDetail table tbody tr td figure img, * body section.artistDetail table tbody tr td figure img, * body section.musicPlayer table tbody tr td figure img {
  width: 100%;
}
* body section.playlistDetail table tbody tr td a, * body section.artistDetail table tbody tr td a, * body section.musicPlayer table tbody tr td a {
  text-decoration: none;
  color: black;
}
* body section.playlistDetail table tbody tr td button, * body section.artistDetail table tbody tr td button, * body section.musicPlayer table tbody tr td button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
* body section.playlistDetail table tbody tr td button i, * body section.artistDetail table tbody tr td button i, * body section.musicPlayer table tbody tr td button i {
  font-size: x-large;
}
* body section.artistDetail .hero figure {
  display: flex;
  align-items: flex-end;
  width: 93%;
  margin: 35px auto;
}
* body section.artistDetail .hero figure img {
  width: 13%;
}
* body section.artistDetail .hero figure figcaption {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 16px;
}
* body section.artistDetail .hero figure figcaption button {
  width: 83%;
  padding: 9px;
  border: none;
  border-radius: 25px;
  background-color: #191970;
  color: white;
  cursor: pointer;
  margin-top: 7px;
}
* body section.artistDetail .artist .card {
  padding-top: 25px;
}
* body section.artistDetail .artist .card a {
  text-align: center;
}
* body section.artistDetail .artist .card a img {
  width: 61%;
  border-radius: 100%;
}
* body section.artistDetail .artist .card a h3 {
  margin: 34px 0 51px 0px;
}
* body section.loginForm {
  display: flex;
  align-items: center;
  width: 43%;
  margin: auto;
  height: 85vh;
}
* body section.loginForm figure img {
  width: 100%;
  border-radius: 8px;
}
* body section.musicPlayer {
  display: flex;
  flex-direction: row;
  width: 96%;
  justify-content: flex-start;
  margin: 74px 0 8px 11px;
}
* body section.musicPlayer article, * body section.musicPlayer img {
  box-shadow: 0px 2px 10px 5px rgba(3, 3, 3, 0.1);
}
* body section.musicPlayer .leftSide {
  width: 60%;
}
* body section.musicPlayer form {
  margin: 13px;
}
* body section.musicPlayer form input[type=text] {
  border-radius: 10px;
  padding: 13px;
  border: none;
  width: 37%;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
}
* body section.musicPlayer form button {
  border-radius: 25px;
  background-color: #030303;
  border: none;
  color: white;
  padding: 11px 35px;
}
* body section.musicPlayer .comments article {
  background-color: #36454F;
  border-radius: 10px;
  padding: 13px;
  margin-bottom: 26px;
}
* body section.musicPlayer .comments article figure {
  width: 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
* body section.musicPlayer .comments article figure img {
  width: 100%;
  border-radius: 100%;
}
* body section.musicPlayer .comments article figure figcaption a {
  text-decoration: none;
  color: white;
  font-family: "Playfair Display", serif;
  font-size: larger;
  font-weight: bold;
  margin-left: 5px;
}
* body section.musicPlayer .comments article p {
  margin-left: 71px;
  color: #737272;
}
* body section.musicPlayer .player {
  margin-left: 21px;
  width: 40%;
  flex-direction: column;
  align-items: center;
  display: flex;
  position: fixed;
  right: 1%;
}
* body section.musicPlayer .player figure {
  width: 60%;
  margin-bottom: 9px;
}
* body section.musicPlayer .player figure img {
  width: 100%;
}
* body section.musicPlayer .player .timeline {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
* body section.musicPlayer .player .timeline .slider {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 10px;
  background: #C1C1C1;
  overflow: hidden;
  cursor: pointer;
}
* body section.musicPlayer .player .timeline .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 1px;
  height: 20px;
  box-shadow: -400px 0 0 400px #36454f;
}
* body section.musicPlayer .player .timeline .range-slider {
  width: 100%;
}
* body section.musicPlayer .player .controls {
  width: 24%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}
* body section.musicPlayer .player .controls button {
  background: none;
  border: none;
  font-size: x-large;
  cursor: pointer;
  margin-right: 11px;
}
* body section.musicPlayer .player .controls button:hover {
  color: #36454F;
}
* body section.musicPlayer .player .controls .hover .audio {
  display: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
* body section.musicPlayer .player .controls .hover .audio #volume-slider {
  height: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background: #C1C1C1;
  overflow: hidden;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
* body section.musicPlayer .player .controls .hover .audio #volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 1px;
  height: 20px;
  box-shadow: -400px 0 0 400px #36454f;
}
* body section.musicPlayer .player .controls .hover:hover {
  display: flex;
}
* body section.musicPlayer .player .controls .hover:hover .audio {
  display: block;
  border-radius: 10px;
  margin-left: 9px;
}
* body footer {
  margin-top: 50px;
}
* body footer .legal ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
}
* body footer .legal ul li a {
  text-decoration: none;
  color: black;
  font-family: "Playfair Display", serif;
}
* body footer small {
  margin: 30px;
  font-family: "Playfair Display", serif;
}

.dark {
  background-color: #36454F;
  color: white;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  body main {
    min-height: 76vh;
  }
  body header .mySidepanel nav ul li a {
    margin: 15px;
  }
  body header .avatar:hover .dropdown-content {
    width: 30%;
    font-size: x-large;
  }
  body section.home .playlistCards .playlistCard a figure {
    width: 100%;
  }
  body .card {
    width: 21%;
  }
  body section.playlistList .title .nav {
    width: 26%;
  }
  body section.playlistList .myPlaylist .mainCard {
    width: 100%;
  }
  body section.playlistList .myPlaylist .mainCard a figure figcaption {
    top: 51vh;
    left: 5%;
  }
  body section.playlistList .myPlaylist .card {
    width: 24%;
  }
  body section.musicPlayer {
    width: 95%;
  }
  body section.musicPlayer table {
    width: 100%;
  }
  body section.musicPlayer table tbody tr td {
    width: 17%;
  }
}
@media only screen and (max-width: 767px) {
  body header {
    justify-content: space-between;
  }
  body header figure {
    width: 13%;
    margin-left: 8px;
  }
  body header .mySidepanel {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    flex-direction: column;
    justify-content: flex-start;
  }
  body header .mySidepanel nav ul {
    flex-direction: column;
    align-items: flex-start;
  }
  body header .mySidepanel nav ul li a {
    margin: 5px;
  }
  body header .mySidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  body header .mySidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 36px;
    margin-left: 50px;
    color: red;
  }
  body header .mySidepanel .avatar {
    width: 32%;
  }
  body header .mySidepanel .avatar .dropdown-content {
    right: 0px;
  }
  body header .mySidepanel .avatar:hover .dropdown-content {
    width: 100%;
  }
  body header .openbtn {
    display: block;
    font-size: 20px;
    cursor: pointer;
    background: none;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  body .title {
    margin: 65px 18px 41px 14px;
  }
  body section.home .playlist .playlistCards, body section.home .playlist .cards, body section.home .album .playlistCards, body section.home .album .cards, body section.home .artist .playlistCards, body section.home .artist .cards, body section.artistDetail .playlist .playlistCards, body section.artistDetail .playlist .cards, body section.artistDetail .album .playlistCards, body section.artistDetail .album .cards, body section.artistDetail .artist .playlistCards, body section.artistDetail .artist .cards {
    display: block;
    white-space: nowrap;
    overflow-x: auto;
  }
  body section.home .playlist .playlistCards::-webkit-scrollbar, body section.home .playlist .cards::-webkit-scrollbar, body section.home .album .playlistCards::-webkit-scrollbar, body section.home .album .cards::-webkit-scrollbar, body section.home .artist .playlistCards::-webkit-scrollbar, body section.home .artist .cards::-webkit-scrollbar, body section.artistDetail .playlist .playlistCards::-webkit-scrollbar, body section.artistDetail .playlist .cards::-webkit-scrollbar, body section.artistDetail .album .playlistCards::-webkit-scrollbar, body section.artistDetail .album .cards::-webkit-scrollbar, body section.artistDetail .artist .playlistCards::-webkit-scrollbar, body section.artistDetail .artist .cards::-webkit-scrollbar {
    display: none;
  }
  body section.home .playlist .playlistCards .playlistCard, body section.home .playlist .playlistCards .card, body section.home .playlist .cards .playlistCard, body section.home .playlist .cards .card, body section.home .album .playlistCards .playlistCard, body section.home .album .playlistCards .card, body section.home .album .cards .playlistCard, body section.home .album .cards .card, body section.home .artist .playlistCards .playlistCard, body section.home .artist .playlistCards .card, body section.home .artist .cards .playlistCard, body section.home .artist .cards .card, body section.artistDetail .playlist .playlistCards .playlistCard, body section.artistDetail .playlist .playlistCards .card, body section.artistDetail .playlist .cards .playlistCard, body section.artistDetail .playlist .cards .card, body section.artistDetail .album .playlistCards .playlistCard, body section.artistDetail .album .playlistCards .card, body section.artistDetail .album .cards .playlistCard, body section.artistDetail .album .cards .card, body section.artistDetail .artist .playlistCards .playlistCard, body section.artistDetail .artist .playlistCards .card, body section.artistDetail .artist .cards .playlistCard, body section.artistDetail .artist .cards .card {
    width: 190px;
    display: inline-flex;
    margin: 0 15px;
  }
  body .card {
    width: 22%;
    margin: auto;
  }
  body section.playlistList .title .nav {
    width: 42%;
  }
  body section.playlistList .myPlaylist .mainCard {
    width: auto;
    height: 253px;
  }
  body section.playlistList .myPlaylist .mainCard a figure figcaption {
    position: absolute;
    top: 386px;
    left: 5%;
  }
  body section.playlistList .myPlaylist .card {
    width: 26%;
    margin: 0 auto 40px;
  }
  body section.listArtist .artistCard figure {
    width: 22%;
  }
  body section.playlistDetail {
    min-height: 67vh;
  }
  body section.playlistDetail table tbody tr td figure, body section.artistDetail table tbody tr td figure, body section.musicPlayer table tbody tr td figure {
    width: 56%;
  }
  body section.artistDetail .hero figure img {
    width: 26%;
  }
  body section.musicPlayer {
    flex-direction: column;
    margin: 74px auto 5px auto;
  }
  body section.musicPlayer .player {
    position: initial;
    width: 97%;
    margin: 25px auto;
  }
  body section.musicPlayer .leftSide {
    width: 100%;
  }
  body section.musicPlayer form {
    margin: 32px 5px;
  }
  body section.musicPlayer form input[type=text] {
    width: 60%;
  }
  body section.musicPlayer .comments article p {
    margin-left: 37px;
  }
  body footer {
    display: flex;
    flex-direction: column;
  }
  body footer small {
    margin: 15px auto;
  }
}/*# sourceMappingURL=style.css.map */