{{ form_start(formAddComment, {'attr': {'id': 'commentForm'}})}} 

    <div class="w-100">

        {{form_row(formAddComment.text)}}
    </div>
    
    {{form_row(formAddComment.submit)}}

{{form_end(formAddComment)}}

