{# {% extends 'base.html.twig' %}

{% block title %}Hello SongController!{% endblock %}

{% block body %} #}
{# FIXME: #}


<form action="" method="post">

    {% for playlist in playlists %}
    
        <label for="playlist">{{playlist.playlistName}}</label>
        <input type="checkbox" name="_playlist" value="{{playlist.id}}">
    {% endfor %}

    <input type="submit" value="send" />
        
</form>

{# {% endblock %} #}
