{% extends 'base.html.twig' %}

{% block title %}add {{song.nameSong}}{% endblock %}

{% block body %}

<form action="{{path('add_toSongsPlaylist', {'id': song.id})}}" method="post" class="d-flex flex-column w-50 m-auto text-light">

    {% for playlist in playlists %}
    
        <div class="d-flex w-100">

            <input type="checkbox" name="_playlist" value="{{playlist.id}}" class="form-check-input">
            <label for="playlist" class="form-check-label">{{playlist.playlistName}}</label>
        </div>

    {% endfor %}

    <input type="submit" value="add" class="btn btn-info"/>
        
</form>

{% endblock %}
