{% extends 'base.html.twig' %}

{% block title %}Most Liked{% endblock %}

{% block body %}

    <section class="playlistList">

        <div class="myPlaylist">

            {% for song in songs %}

                <div class="card">

                    <a href="{{path('app_songPlayer', {'id': song.id})}}">

                        <figure>
                            <img src="{{song.cover}}" alt="playlist image">
                        </figure>

                        <h3>{{song.nameSong}}</h3>

                    </a>
                </div>

            {% endfor %}
            
        </div>
    </section>
{% endblock %}
