{% extends 'base.html.twig' %}

{% block title %}Most Liked{% endblock %}

{% block body %}

    <section class="more">

        <div class="listItems">

            {% for song in pagination %}

                <div class="mcard">

                    <a href="{{path('app_songPlayer', {'id': song.uuid})}}">

                        <figure>
                            <img src="{{asset('uploads/' ~ song.cover)}}" alt="playlist image">
                        </figure>

                        <h3>{{song.nameSong}}</h3>

                    </a>
                </div>

            {% endfor %}
            
        </div>

        <div class="d-flex justify-content-center">
            
            {{ knp_pagination_render(pagination, '_pagination.html.twig') }}
        </div>

    </section>
{% endblock %}
